html {
    font-family: Georgia, serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(251, 247, 240);
}

.search-bar {
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
    padding: 2%;
    overflow: hidden;
    background-color: rgb(255, 211, 114);
}

.search-bar #search-box {
    justify-content: center;
    text-align: center;

    border: none;
    border-radius: 7px;
}

input {
    width: 200px;
    height: 30px;
    margin: 10px 0 10px 0;
}

button {
    width: 75px;
    height: 30px;

    color: rgb(241, 238, 233);
    background-color: rgb(22, 22, 22);

    border-radius: 7px;
}

button:hover {
    background-color: rgb(77, 77, 77);
    color: rgb(241, 238, 233);
}



#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    text-align: center;
}



article {
    width: calc(100% / 3 - 5%);
    margin-bottom: 2%;;
    box-sizing: border-box;
    border: 3px rgb(77, 77, 77) solid;
    padding: 15px;
    border-radius: 6px;
    background-color: rgb(250, 239, 210);
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 3px rgb(77, 77, 77) solid;
    border-radius: 6px;
}

article h3 {
    margin: 10px 0 10px 0;
    text-align: center;
    padding: 0 0 7px 0;
}

article > p {
    margin: 10px 0 10px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4px 0 4px;
    width: max-content;
    box-sizing: border-box;
    border: 2px rgb(192, 125, 37) solid;
    border-radius: 4px;
    background-color: antiquewhite;
}

article a {
    text-decoration: none;
    cursor: pointer;
}

.summary p {
    text-align: justify;
    margin: 0 0 0 0;
}

dialog span {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    font-size: 40px;
}

dialog span p {
    margin: 0 0 0 0;
}

dialog iframe {
    margin: 50px 0 0 0;
    border: none;
}